[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = ../../catchorg/Catch2
	branch = master
[submodule "dependencies/shacl"]
	path = dependencies/shacl
	url = ../../scl/shacl.git
	branch = master
